/* _content/app/Views/Home/Index.cshtml.rz.scp.css */
.artist-list[b-hjijjck99x] {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

	.artist-list li[b-hjijjck99x] {
		margin: 20px auto;
		padding: 10px;
		border-radius: 5px;
		background-color: #202326;
		text-align: center;
		flex-direction: column;
	}

.artist-pic[b-hjijjck99x] {
	border-radius: 100%;
	padding: 5px;
	object-fit: cover;
	width: 170px;
	height: 170px;
}

h1[b-hjijjck99x] {
	text-align: center;
}

header > img[b-hjijjck99x] {
	width: 100%;
	opacity: 30%;
	max-height: 1000px
}

#search-form[b-hjijjck99x] {
	display: flex
}

header[b-hjijjck99x] {
	position: relative;
}

	header > i[b-hjijjck99x] {
		position: absolute;
		top: 35%;
		left: 10%;
		font-size: 150%;
		font-weight: bold;
	}

input[type=submit][b-hjijjck99x] {
	background-color: #202326;
	color: white;
	margin: 0 10% 0 1%;
	border: none;
	border-radius: 5px;
}

input[type=text][b-hjijjck99x], select[b-hjijjck99x] {
	width: 100%;
	padding: 10px;
	margin: 0 1% 0 10%;
	display: inline-block;
	border: none;
	border-radius: 5px;
	box-sizing: border-box;
}
