<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - app</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
    @await RenderSectionAsync("Styles", required: false)
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/app.styles.css" asp-append-version="true" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <a class="left-link" href="@Url.RouteUrl("Home")"><i>RapMinerz</i></a>
        <img src="~/img/logo.png" width="50" height="50" />
        <div>
            <a class="right-link" href="#">Top artistes</a>
            <a class="right-link" href="@Url.RouteUrl("IndexLetters")">Atistes par lettres</a>
        </div>
    </nav>
    <main role="main" class="pb-3">
        <section class="container">
            @RenderBody()
        </section>
    </main>

    <footer>
        <p>
            &copy; 2022 - RapMinzer
        </p>
    </footer>
@*    <script src="~/js/site.js" asp-append-version="true"></script>
*@    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
