@using SpotifyAPI.Web
@{
    ViewData["Title"] = "Album";
}
@model Album

<section>
    <div>
        <h1 class="big">Album @Model.</h1>

        <ul class="albums-list">
            @foreach (var track in Model.Tracks)
            {
                <li>
                    <p><a href="@Url.RouteUrl("Track", new { idArtist = Model.Artist.Id, idAlbum = Model.Id, idTrack = track.Id })">@track.Name - Paroles</a><i class="fa-solid fa-music"></i></p>
                    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/@track.Id" width="50%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </li>
            }
        </ul>
    </div>
</section>

<section>
    <ul class="cloud" role="navigation" aria-label="Webdev word cloud">
        <li><a href="#" data-weight="4">Blablabla</a></li>
        <li><a href="#" data-weight="1">Blablabla</a></li>
        <li><a href="#" data-weight="5">Blablabla</a></li>
        <li><a href="#" data-weight="8">Blablabla</a></li>
        <li><a href="#" data-weight="6">Blablabla</a></li>
        <li><a href="#" data-weight="4">Blablabla</a></li>
        <li><a href="#" data-weight="5">Blablabla</a></li>
        <li><a href="#" data-weight="6">Blablabla</a></li>
        <li><a href="#" data-weight="2">Blablabla</a></li>
        <li><a href="#" data-weight="9">Blablabla</a></li>
        <li><a href="#" data-weight="3">Blablabla</a></li>
        <li><a href="#" data-weight="7">Blablabla</a></li>
        <li><a href="#" data-weight="8">Blablabla</a></li>
        <li><a href="#" data-weight="1">Blablabla</a></li>
        <li><a href="#" data-weight="3">Blablabla</a></li>
        <li><a href="#" data-weight="9">Blablabla</a></li>
    </ul>
</section>


@section Styles{
    <link rel="stylesheet" href="~/css/index-letters.css" asp-append-version="true" />
}