@using SpotifyAPI.Web
@{
    ViewData["Title"] = "Album";
}
@model List<Track>

<ul>

@foreach (var item in Model)
{
    TimeSpan t = TimeSpan.FromMilliseconds(item.DurationMs);
    string answer = string.Format("{0:D2}m:{1:D2}s:{2:D3}ms",
                            t.Minutes, 
                            t.Seconds, 
                            t.Milliseconds);
    <li><a href="https://open.spotify.com/track/@item.Id"></a>@item.Name - @answer</li>          
}
</ul>


