@using SpotifyAPI.Web
@{
	ViewData["Title"] = "Artiste";
}
@model SuperArtists

<section>
    <div>
        <h1 class="big">Artiste @Model.Name</h1>

        <ul class="albums-list">
            @foreach (var album in Model.Albums.OrderByDescending(a => a.ReleaseDate).Where(a => a.AlbumGroup != "appears_on" && a.AlbumGroup != "single").DistinctBy(a => a.Name))
            {
                <li>
                    <p><a href="@Url.RouteUrl("Album", new { idArtist = Model.Id, idAlbum = album.Id })">@album.Name</a> - @album.TotalTracks <i class="fa-solid fa-album"></i></p>
                </li>
            }
        </ul>
    </div>
</section>


<section>
    <ul class="cloud" role="navigation" aria-label="Webdev word cloud">
        <li><p href="#" data-weight="4">Blablabla</p></li>
        <li><p href="#" data-weight="1">Blablabla</p></li>
        <li><p href="#" data-weight="5">Blablabla</p></li>
        <li><p href="#" data-weight="8">Blablabla</p></li>
        <li><p href="#" data-weight="6">Blablabla</p></li>
        <li><p href="#" data-weight="4">Blablabla</p></li>
        <li><p href="#" data-weight="5">Blablabla</p></li>
        <li><p href="#" data-weight="6">Blablabla</p></li>
        <li><p href="#" data-weight="2">Blablabla</p></li>
        <li><p href="#" data-weight="9">Blablabla</p></li>
        <li><p href="#" data-weight="3">Blablabla</p></li>
        <li><p href="#" data-weight="7">Blablabla</p></li>
        <li><p href="#" data-weight="8">Blablabla</p></li>
        <li><p href="#" data-weight="1">Blablabla</p></li>
        <li><p href="#" data-weight="3">Blablabla</p></li>
        <li><p href="#" data-weight="9">Blablabla</p></li>
    </ul>
</section>

@section Styles{
    <link rel="stylesheet" href="~/css/index-letters.css" asp-append-version="true" />
}