@using SpotifyAPI.Web
@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "Track";
}
@model List<SuperArtists>
<ul class="artist-list">
    @foreach (var item in Model)
    {
        <li><a href="/artist_@item.Id">@item.Name</a></li>
    }
</ul>


<div class="pagination">
    <a class="page-link active" href="/lettre_a">A</a>
    <a class="page-link" href="/lettre_b">B</a>
    <a class="page-link" href="/lettre_c">C</a>
    <a class="page-link" href="/lettre_d">D</a>
    <a class="page-link" href="/lettre_e">E</a>
    <a class="page-link" href="/lettre_f">F</a>z
    <a class="page-link" href="/lettre_g">G</a>
    <a class="page-link" href="/lettre_h">H</a>
    <a class="page-link" href="/lettre_i">I</a>
    <a class="page-link" href="/lettre_j">J</a>
    <a class="page-link" href="/lettre_k">K</a>
    <a class="page-link" href="/lettre_l">L</a>
    <a class="page-link" href="/lettre_m">M</a>
    <a class="page-link" href="/lettre_n">N</a>
    <a class="page-link" href="/lettre_o">O</a>
    <a class="page-link" href="/lettre_p">P</a>
    <a class="page-link" href="/lettre_q">Q</a>
    <a class="page-link" href="/lettre_r">R</a>
    <a class="page-link" href="/lettre_s">S</a>
    <a class="page-link" href="/lettre_t">T</a>
    <a class="page-link" href="/lettre_u">U</a>
    <a class="page-link" href="/lettre_v">V</a>
    <a class="page-link" href="/lettre_w">W</a>
    <a class="page-link" href="/lettre_x">X</a>
    <a class="page-link" href="/lettre_y">Y</a>
    <a class="page-link" href="/lettre_z">Z</a>
    <a class="page-link" href="/lettre_0-9">0-9</a>
</div>