@using SpotifyAPI.Web
@using System.Text.RegularExpressions

@model Track
@{
	ViewData["Title"] = "Track";
	string[] regexes = new string[] { "(?<=[a-z])(?=[A-Z])", @"(\[.+?\])" };

	var lines = Regex.Split(Model.Text, string.Join("|", regexes));
}

<h1>Paroles de @Model.Name par @Model.Album.Artist.Name dans l'album @Model.Album.Name</h1>

<section id="track">
	@foreach (var item in lines)
	{
		<p>@Html.Raw(item)</p>
	}
</section>


@section Styles{
		<link rel="stylesheet" href="~/css/track.css" asp-append-version="true" />
}