@using SpotifyAPI.Web
@using System.Text.RegularExpressions
@{
    ViewData["Title"] = "Track";
    var lines =  Regex.Split(Model.Text, @"(?=\[[A-Z])");

}
@model Track


@foreach (var item in lines)
{
    <p style="margin: 0">@Html.Raw(item)</p>
}
