html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.d-flex{
    display: flex;
}

.container > section{
    margin-bottom: 50px;
}

.d-flex{
    display: flex;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202326;
    color: #fff;
    height: 6%;
}

footer {
    height: 6%;
    background-color: #202326;
}

html,
body {
    height: 100%;
}

main {
    background-color: #12141D;
}

body, main, p, i {
    margin: 0px;
}

p, a, i, h1, h2, h3, h4 {
    font-family: 'Montserrat', sans-serif;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    color: white;
}

.navbar .icon {
    font-size: 1.5em;
}

main {
    min-height: 88%;
    color: #fff;
}

.navbar .left-link {
    margin-left: 10px;
}

.navbar .right-link {
    margin-right: 10px;
}

footer {
    padding: 20px;
    color: white;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    columns: 4;
}

.big{
    font-weight: bold;
}


