#track p:not(.music-section) {
    margin: 5px;
}


.music-section {
    margin: 20px 0;
    padding-left: 10px;
    font-weight: bold;
}

.bridge-border {
    border-left: solid 5px #78FCFF;
}

.verse-border {
    border-left: solid 5px #06FA8E;
}

.tune-border {
    border-left: solid 5px #1B97FE;
}

.none-border {
    border-left: solid 5px #FF9425;
}

.bridge-bg {
    background-color: #78FCFF;
}

.verse-bg {
    background-color: #06FA8E;
}

.tune-bg {
    background-color: #1B97FE;
}

.none-bg {
    background-color: #FF9425;
}


.album-pic {
    padding: 5px;
    object-fit: cover;
    width: 170px;
    height: 170px;
}


.song-timeline {
    display: flex;
}

    .song-timeline > div {
        flex-direction: column;
    }

    .song-timeline > p {
        margin-bottom: 2px;
    }
        .song-timeline > div > div {
            height: 50px;
            align-items: center;
            justify-content: center;
            display: flex;
            color: black;
            font-size: 2rem;
            font-weight: bold;
        }